h2 {
    color: rgb(15, 25, 18);
    background-color: beige;
    }
body {
    background-color: aqua;
    }

#prvi {
color: blue;
}
/* za id ide #naziv, za klasu ide .klasa */
.drugi {
color: chocolate;
}