#red {
    color: red;
}
#blue {
/*     color: blue; */    
color: #38b8df;
}
#orange {
/*     color: orange; */
color: rgb(255, 136, 0);
}
#green {
 /*    color: green; */
 color: hsl(100, 40%, 25%);
}
#yellow {
    color: yellow;
}
h2 {
    font-weight: normal;
}
img {
    height: 200px;
    width: 200px;
}